* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*header*/

.top {
    background-color: blue;
    height: 60px;
}

.center {
    background-color: brown;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

h1 {
    padding-top: 20%;
    padding-bottom: 5%;
}

.head {
    padding-bottom: 7%;
    color: white;
}

h1 {
    color: white;
}

/*main*/

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pic {
    height: 200px;
    width: 60px;
    background-color: aquamarine;
}

.text {
    height: 200px;
    width: 60px;
    background-color: aqua;
}

/*last section*/
.bottom-pic {
    background-color: blue;
}